# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
build/
*.egg-info/
.dist/

# Test coverage
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*~

# Node / Frontend
node_modules/
.next/
dist/

# Logs
*.log

# Environment variables
.env

temp/
src/service/test/

*.ipynb
